@font-face {
  font-family: 'ubuntu';
  src:
  url('./assets/fonts/ubuntu/ubuntu-regular-webfont.woff') format('woff'),
  url('./assets/fonts/ubuntu/ubuntu-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


:root {
  --b-blue: #D4F1F4;
  --b-green: #75E6DA;
  --b-grotto: #189AB4;
  --n-blue: #05445E;
}

body {
  height: 100%;
  margin: 0;
  background-color: var(--b-blue);
  font-size: 1.3rem;
  font-family: 'ubuntu', 'roboto-sans';
}
.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--n-blue);
  height: 10%;
  width: 100%;
  padding: .6rem;

}
.siteTitle {
  margin: 0 2rem;
  color: var(--b-blue);
}
.siteTitle > img {
  width: .8rem;
  height: auto;
  color: var(--b-blue);
  fill: var(--b-blue);
}

.searchCont {
  display: flex;
  gap: .7rem;
  margin: 0 2rem;
  font-size: .8rem;
}
.location {
  margin: 0;
  margin-left: 1rem;
  font-size: .9rem;
  color: var(--b-blue);
}
.localTime {
  color: var(--b-blue);
  margin: 0 2rem;
}
.localTime::after {
  content: "  24hrs";
  font-size: .7rem;
  color: aliceblue;

}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  height: 90%;
  background-color: var(--b-green);
  width: clamp(240px, 80%, 2000px);
}

.todayContainer {
  display: flex;
  justify-content: center;
  gap: .5rem;
  width: min(1000px, 85%);
  padding: 1rem;
}
.todayContainer > div {
  padding: 2rem;
  border-radius: 12px;
}

.f::after {
  content: " °F";
  font-size: 0.9rem;
}
.c::after {
  content: " °C";
  font-size: 0.9rem;
}
.lcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: var(--b-grotto);
}
#currentTemp {
  font-size: 6rem;
}
#currentTemp.f::after {
  content: " °F";
  font-size: 3rem;
}
#currentTemp.c::after {
  content: " °C";
  font-size: 3rem;
}

.rcard {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr;
  height: 70%;
  background-color: var(--b-grotto);
}
.rcard > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-bottom: 2px solid #d4d4d8;
}
.condText {
  font-size: 2rem;
}
.condIcon {
  width: 5rem;
  height: auto;
}
.weekContainer {
  display: flex;
}
.hi::before {
  content: "Hi: ";
  font-size: .9rem;
}
.lo::before {
  content: "Lo: ";
  font-size: .9rem;
}
.hum::before {
  content: "Humidity:";
  font-size: .8rem;
}
.wind::before {
  content: "Wind:";
  font-size: .8rem;

}
.wind::after {
  font-size: .8rem;

}
.aheadCard {
  background-color: var(--b-blue);
  padding: 2rem;
  margin: .3rem 1.5rem;
  text-align: center;
  border-radius: 12px;
}
